@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  margin-top: 30px;
  border-radius: 4px;
  /*position: absolute;*/
  /*padding-bottom: 0;*/
  transition: all 0.2s ease-out;
}
.navbar-transparent {
  background: transparent !important;
  border-bottom: 1px solid transparent;
  box-shadow: none;
}
#navbar-br, .nav-link {
  color: #e5e5e5;
  font-family: 'Montserrat', sans-serif;
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}
#navbar-br {
  font-weight: 600;
  margin: 5px 0;
  /*padding: 20px 15px;*/
  font-size: 14px;
  text-transform: uppercase;
}
.nav-link {
  line-height: 1.6;
  margin: 0 10px;
  /*padding: 10px 15px;*/
  opacity: .8;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-link:hover{
  color: #fff;
  text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 52px;
  margin-top: 0 !important;
  border-radius: 0 !important;
  background-color: #000000 !important;
  opacity: 0.8;
  transition: all 0.2s ease-in;
}
.sticky-links {
  padding: 10px 15px 15px 15px !important;
  color: white ;
  opacity: 1;
  transition: all 0.2s ease-in;
  font-size: 14px;
}
.navbar-transparent .navbar-nav .nav-link{
  color: #ffffff;
}

.navbar-transparent .navbar-nav .nav-link:hover {
  color: #ff6a47;
  text-decoration: none;
}
.navbar .active {
  color: #ff6a47 !important;
}

.page-header {
  background-image: url("images/photo1.jpg");
  background-size: cover;
  background-color: #b2afab;
  background-position: 50%;
  min-height: 60vh !important;
  max-height: 700px;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
.page-header:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
}
.content-center {
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%,-50%);
  text-align: center;
  color: #fff;
  width: 100%;
}
.features{
  margin-top: 300px;
  margin-bottom: 200px;
}

.movies-body th {
  font-weight: normal;
}
.clickable{
  cursor: pointer;
}